# Pretty print the tables with prettytable

## Creating Tables with PrettyTable
[Geeks for Geeks](https://www.geeksforgeeks.org/creating-tables-with-prettytable-library-python/)

In [3]:
from prettytable import PrettyTable

### Creating the Table: Row-Wise

In [4]:
# Specify the Column Names while initializing the Table
myTable = PrettyTable(["Student Name", "Class", "Section", "Percentage"])

In [5]:
# Add rows
myTable.add_row(["Leanord", "X", "B", "91.2 %"])
myTable.add_row(["Penny", "X", "C", "63.5 %"])
myTable.add_row(["Howard", "X", "A", "90.23 %"])
myTable.add_row(["Bernadette", "X", "D", "92.7 %"])
myTable.add_row(["Sheldon", "X", "A", "98.2 %"])
myTable.add_row(["Raj", "X", "B", "88.1 %"])
myTable.add_row(["Amy", "X", "B", "95.0 %"])

In [8]:
print(myTable)

+--------------+-------+---------+------------+
| Student Name | Class | Section | Percentage |
+--------------+-------+---------+------------+
|   Leanord    |   X   |    B    |   91.2 %   |
|    Penny     |   X   |    C    |   63.5 %   |
|    Howard    |   X   |    A    |  90.23 %   |
|  Bernadette  |   X   |    D    |   92.7 %   |
|   Sheldon    |   X   |    A    |   98.2 %   |
|     Raj      |   X   |    B    |   88.1 %   |
|     Amy      |   X   |    B    |   95.0 %   |
+--------------+-------+---------+------------+

### Creating the Table: Column-Wise

In [21]:
columns = ["Student Name", "Class", "Section", "Percentage"]

In [22]:
myTable = PrettyTable()

In [23]:
# Add Columns
myTable.add_column(columns[0], ["Leanord", "Penny", "Howard",
                       "Bernadette", "Sheldon", "Raj", "Amy"])
myTable.add_column(columns[1], ["X", "X", "X", "X", "X", "X", "X"])
myTable.add_column(columns[2], ["B", "C", "A", "D", "A", "B", "B"])
myTable.add_column(columns[3], ["91.2 %", "63.5 %", "90.23 %", "92.7 %", 
                                          "98.2 %", "88.1 %", "95.0 %"])

In [24]:
print(myTable)

+--------------+-------+---------+------------+
| Student Name | Class | Section | Percentage |
+--------------+-------+---------+------------+
|   Leanord    |   X   |    B    |   91.2 %   |
|    Penny     |   X   |    C    |   63.5 %   |
|    Howard    |   X   |    A    |  90.23 %   |
|  Bernadette  |   X   |    D    |   92.7 %   |
|   Sheldon    |   X   |    A    |   98.2 %   |
|     Raj      |   X   |    B    |   88.1 %   |
|     Amy      |   X   |    B    |   95.0 %   |
+--------------+-------+---------+------------+

### Deleting Rows

In [25]:
myTable.del_row(0)

In [26]:
print(myTable)

+--------------+-------+---------+------------+
| Student Name | Class | Section | Percentage |
+--------------+-------+---------+------------+
|    Penny     |   X   |    C    |   63.5 %   |
|    Howard    |   X   |    A    |  90.23 %   |
|  Bernadette  |   X   |    D    |   92.7 %   |
|   Sheldon    |   X   |    A    |   98.2 %   |
|     Raj      |   X   |    B    |   88.1 %   |
|     Amy      |   X   |    B    |   95.0 %   |
+--------------+-------+---------+------------+

### Clearing the Table

In [27]:
myTable.clear_rows()

In [28]:
print(myTable)

+--------------+-------+---------+------------+
| Student Name | Class | Section | Percentage |
+--------------+-------+---------+------------+
+--------------+-------+---------+------------+

## Tutorial on how to use the PrettyTable API 
[github repo of the author](https://github.com/jazzband/prettytable)

In [31]:
from prettytable import PrettyTable

### Row by row

In [33]:
x = PrettyTable()
x.field_names = ["City name", "Area", "Population", "Annual Rainfall"]
x.add_row(["Adelaide", 1295, 1158259, 600.5])
x.add_row(["Brisbane", 5905, 1857594, 1146.4])
x.add_row(["Darwin", 112, 120900, 1714.7])
x.add_row(["Hobart", 1357, 205556, 619.5])
x.add_row(["Sydney", 2058, 4336374, 1214.8])
x.add_row(["Melbourne", 1566, 3806092, 646.9])
x.add_row(["Perth", 5386, 1554769, 869.4])

In [35]:
print(x)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Adelaide | 1295 |  1158259   |      600.5      |
|  Brisbane | 5905 |  1857594   |      1146.4     |
|   Darwin  | 112  |   120900   |      1714.7     |
|   Hobart  | 1357 |   205556   |      619.5      |
|   Sydney  | 2058 |  4336374   |      1214.8     |
| Melbourne | 1566 |  3806092   |      646.9      |
|   Perth   | 5386 |  1554769   |      869.4      |
+-----------+------+------------+-----------------+

### All rows at once

In [37]:
x = PrettyTable()
x.field_names = ["City name", "Area", "Population", "Annual Rainfall"]
x.add_rows(
    [
        ["Adelaide", 1295, 1158259, 600.5],
        ["Brisbane", 5905, 1857594, 1146.4],
        ["Darwin", 112, 120900, 1714.7],
        ["Hobart", 1357, 205556, 619.5],
        ["Sydney", 2058, 4336374, 1214.8],
        ["Melbourne", 1566, 3806092, 646.9],
        ["Perth", 5386, 1554769, 869.4],
    ]
)

In [38]:
print(x)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Adelaide | 1295 |  1158259   |      600.5      |
|  Brisbane | 5905 |  1857594   |      1146.4     |
|   Darwin  | 112  |   120900   |      1714.7     |
|   Hobart  | 1357 |   205556   |      619.5      |
|   Sydney  | 2058 |  4336374   |      1214.8     |
| Melbourne | 1566 |  3806092   |      646.9      |
|   Perth   | 5386 |  1554769   |      869.4      |
+-----------+------+------------+-----------------+

### Column by column

In [40]:
x = PrettyTable()
x.add_column("City name",
["Adelaide","Brisbane","Darwin","Hobart","Sydney","Melbourne","Perth"])
x.add_column("Area", [1295, 5905, 112, 1357, 2058, 1566, 5386])
x.add_column("Population", [1158259, 1857594, 120900, 205556, 4336374, 3806092,
1554769])
x.add_column("Annual Rainfall",[600.5, 1146.4, 1714.7, 619.5, 1214.8, 646.9,
869.4])

In [42]:
print(x)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Adelaide | 1295 |  1158259   |      600.5      |
|  Brisbane | 5905 |  1857594   |      1146.4     |
|   Darwin  | 112  |   120900   |      1714.7     |
|   Hobart  | 1357 |   205556   |      619.5      |
|   Sydney  | 2058 |  4336374   |      1214.8     |
| Melbourne | 1566 |  3806092   |      646.9      |
|   Perth   | 5386 |  1554769   |      869.4      |
+-----------+------+------------+-----------------+

### Importing data from a CSV file

In [49]:
from prettytable import from_csv

In [52]:
with open("myfile.csv") as fp:
    mytable = from_csv(fp)

In [54]:
print(mytable)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Adelaide | 1295 |  1158259   |      600.5      |
|  Brisbane | 5905 |  1857594   |      1146.4     |
|   Darwin  | 112  |   120900   |      1714.7     |
|   Hobart  | 1357 |   205556   |      619.5      |
|   Sydney  | 2058 |  4336374   |      1214.8     |
| Melbourne | 1566 |  3806092   |      646.9      |
|   Perth   | 5386 |  1554769   |      869.4      |
+-----------+------+------------+-----------------+

### Stringing

In [59]:
mystring = x.get_string()
print(mystring)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Adelaide | 1295 |  1158259   |      600.5      |
|  Brisbane | 5905 |  1857594   |      1146.4     |
|   Darwin  | 112  |   120900   |      1714.7     |
|   Hobart  | 1357 |   205556   |      619.5      |
|   Sydney  | 2058 |  4336374   |      1214.8     |
| Melbourne | 1566 |  3806092   |      646.9      |
|   Perth   | 5386 |  1554769   |      869.4      |
+-----------+------+------------+-----------------+

In [61]:
mystring = x.get_csv_string()
print(mystring)

City name,Area,Population,Annual Rainfall
Adelaide,1295,1158259,600.5
Brisbane,5905,1857594,1146.4
Darwin,112,120900,1714.7
Hobart,1357,205556,619.5
Sydney,2058,4336374,1214.8
Melbourne,1566,3806092,646.9
Perth,5386,1554769,869.4

In [64]:
mystring = x.get_json_string()
print(mystring)

[
    [
        "City name",
        "Area",
        "Population",
        "Annual Rainfall"
    ],
    {
        "Annual Rainfall": 600.5,
        "Area": 1295,
        "City name": "Adelaide",
        "Population": 1158259
    },
    {
        "Annual Rainfall": 1146.4,
        "Area": 5905,
        "City name": "Brisbane",
        "Population": 1857594
    },
    {
        "Annual Rainfall": 1714.7,
        "Area": 112,
        "City name": "Darwin",
        "Population": 120900
    },
    {
        "Annual Rainfall": 619.5,
        "Area": 1357,
        "City name": "Hobart",
        "Population": 205556
    },
    {
        "Annual Rainfall": 1214.8,
        "Area": 2058,
        "City name": "Sydney",
        "Population": 4336374
    },
    {
        "Annual Rainfall": 646.9,
        "Area": 1566,
        "City name": "Melbourne",
        "Population": 3806092
    },
    {
        "Annual Rainfall": 869.4,
        "Area": 5386,
        "City name": "Perth",
        "Population": 1554769
    }
]

In [66]:
mystring = x.get_latex_string()
print(mystring)

\begin{tabular}{cccc}
City name & Area & Population & Annual Rainfall \\
Adelaide & 1295 & 1158259 & 600.5 \\
Brisbane & 5905 & 1857594 & 1146.4 \\
Darwin & 112 & 120900 & 1714.7 \\
Hobart & 1357 & 205556 & 619.5 \\
Sydney & 2058 & 4336374 & 1214.8 \\
Melbourne & 1566 & 3806092 & 646.9 \\
Perth & 5386 & 1554769 & 869.4 \\
\end{tabular}

### Controlling which data gets displayed

In [68]:
print(x.get_string(fields=["City name", "Population"]))

+-----------+------------+
| City name | Population |
+-----------+------------+
|  Adelaide |  1158259   |
|  Brisbane |  1857594   |
|   Darwin  |   120900   |
|   Hobart  |   205556   |
|   Sydney  |  4336374   |
| Melbourne |  3806092   |
|   Perth   |  1554769   |
+-----------+------------+

In [70]:
print(x.get_string(start=1, end=4))

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Brisbane | 5905 |  1857594   |      1146.4     |
|   Darwin  | 112  |   120900   |      1714.7     |
|   Hobart  | 1357 |   205556   |      619.5      |
+-----------+------+------------+-----------------+

### Changing the alignment of columns
By default, all columns in a table are centre aligned.

#### All columns at once
You can change the alignment of all the columns in a table at once by assigning a one character string to the align attribute. The allowed strings are "l", "r" and "c" for left, right and centre alignment, respectively:

In [72]:
x.align = "r"
print(x)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Adelaide | 1295 |    1158259 |           600.5 |
|  Brisbane | 5905 |    1857594 |          1146.4 |
|    Darwin |  112 |     120900 |          1714.7 |
|    Hobart | 1357 |     205556 |           619.5 |
|    Sydney | 2058 |    4336374 |          1214.8 |
| Melbourne | 1566 |    3806092 |           646.9 |
|     Perth | 5386 |    1554769 |           869.4 |
+-----------+------+------------+-----------------+

#### One column at a time
You can also change the alignment of individual columns based on the corresponding field name by treating the align attribute as if it were a dictionary.

In [76]:
x.align["City name"] = "l"
x.align["Area"] = "c"
x.align["Population"] = "l"
x.align["Annual Rainfall"] = "c"
print(x)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
| Adelaide  | 1295 | 1158259    |      600.5      |
| Brisbane  | 5905 | 1857594    |      1146.4     |
| Darwin    | 112  | 120900     |      1714.7     |
| Hobart    | 1357 | 205556     |      619.5      |
| Sydney    | 2058 | 4336374    |      1214.8     |
| Melbourne | 1566 | 3806092    |      646.9      |
| Perth     | 5386 | 1554769    |      869.4      |
+-----------+------+------------+-----------------+