In [1]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in mylist:
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [9]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [11]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number: {}'.format(num))

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [17]:
list_sum = 0

for num in mylist:
    list_sum += num
    
    print('Sum: {}'.format(list_sum))

Sum: 1
Sum: 3
Sum: 6
Sum: 10
Sum: 15
Sum: 21
Sum: 28
Sum: 36
Sum: 45
Sum: 55

In [19]:
list_sum = 0

for num in mylist:
    list_sum += num
    
print('Sum: {}'.format(list_sum))

Sum: 55

In [21]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [23]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [26]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [28]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]

In [29]:
len(mylist)

4

In [31]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [33]:
for (a, b) in mylist:
    print(a, b, sep=',')

1,2
3,4
5,6
7,8

In [35]:
for a, b in mylist:
    print(a, b)

1 2
3 4
5 6
7 8

In [36]:
mylist = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [38]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [40]:
for a, b, c in mylist:
    print(a, b, c)

1 2 3
4 5 6
7 8 9

In [54]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [55]:
for item in d:
    print(item)

k1
k2
k3

In [56]:
for key in d.keys():
    print(key)

k1
k2
k3

In [50]:
for value in d.values():
    print(value)

1
2
3

In [53]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [57]:
for key, value in d.items():
    print(key, value, sep=':')

k1:1
k2:2
k3:3

In [58]:
for value in sorted(d.values()):
    print(value)

1
2
3